@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/cyan-orange.css';

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-primary),
    )
  );
}

body {
  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
